<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Shorter needs to access your camera to uplaod pictures associated with your status</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark</string>
				</array>
			</dict>
			<key>icon-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
